<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'boards/assets/bootstrap/css/bootstrap-grid.css' %}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'boards/css/style.css' %}">

    <!--<script src="{% static 'boards/assets/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'boards/assets/bootstrap/js/bootstrap.bundle.js' %}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="board">
        <h2 class="board__title"><b>Доска: {{ board.name }}</b></h2>
    
        <div class="columns">
            {% for column in columns %}
                <div class="column">
                    <div class="column-title">
                        <h3>{{ column.name }}</h3>
                        <a class="button button-delete" href="{% url 'delete-column' column.id %}">
                            <img class="delete-icon" src="{% static 'boards/assets/icons/trash.svg' %}" width="20" alt="">
                        </a>
                    </div>
                    
                    <div class="column-task">
                        {% if tasks is None %}
                            <p>Пока нет заданий</p>
                        {% else %}
                            {% for task in tasks %}
                                {% if task.column_id == column.id %}
                                    <div class="task" 
                                        id="task-{{ task.id }}"
                                        data-bs-toggle="modal" 
                                        data-bs-target=".task-modal" 
                                        data-bs-id="{{ task.id }}"  
                                        data-bs-title="{{ task.title}}"  
                                        data-bs-description="{{ task.description}}"
                                    >
                                        {{ task.title }}
                                        <a class="button button-delete" href="{% url 'delete' task.id %}">
                                            <img class="delete-icon" src="{% static 'boards/assets/icons/trash.svg' %}" width="20" alt="">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="column-form">
                        <form class="create-form" method="post" action="{% url 'create-task' column.id %}">
                            {% csrf_token %}

                            <button type="submit" class="create-form-button">
                                <img class="delete-icon" src="{% static 'boards/assets/icons/plus.svg' %}" width="20" alt="">
                            </button>
                            <input class="form-control" type="text" name="title" placeholder="Введите текст">
                        </form>
                    </div>
                </div>
            {% endfor %}

            <div class="column column--new">
                <form class="create-form create-form--create-board" method="post" action="{% url 'create-column' board.id %}">
                    {% csrf_token %}
                    
                    <button type="submit" class="create-form-button create-form-button--transparent">
                        <img class="delete-icon" src="{% static 'boards/assets/icons/plus.svg' %}" width="20" alt="">
                    </button>
                    <input class="form-control" type="text" name="name" placeholder="Добавьте ещё одну колонку">
                </form>
            </div>
        </div>
    </div>

  <!-- Modal 
  <div class="modal fade task-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="task-modal__title" style="color: #000;">Modal title</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea  class="task-modal__description" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>-->

    <script>
        var taskModal = document.querySelector('.task-modal')
        taskModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var id = button.getAttribute('data-bs-id')
            var title = button.getAttribute('data-bs-title')
            var description = button.getAttribute('data-bs-description')

            var modalTitle = taskModal.querySelector('.task-modal__title')
            var modalBodyInput = taskModal.querySelector('.task-modal__description')

            modalTitle.textContent = title
            modalBodyInput.value = description
        })
    </script>
    
</body>
</html>


