body, html {
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* background-color: rgb(45 212 191); */
    background: linear-gradient(45deg, #37ecba, #72afd3);
    color: #fff;
    height: 100%;
}

.board {
    padding: 15px; 
}

.columns {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.column {
    display: flex;
    width: 280px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px;
    background-color: #f1f2f4;
    color: #000;
    padding: 10px 25px; 
    margin-right: 25px;
    border: 1px solid #fff;
}

.column--new {
    background-color: #A6C5E229;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bdc2cc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.task-delete-icon {
    vertical-align: baseline;
}

.create-form {
    display: flex;
    border: none;
    margin-bottom: 10px;
    color: #172b4d;
}

.create-form-button {
    border: none;
}

.create-form-input {
    background-color: #091E4224;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

.create-form--create-board {
    border: none;
    
}

.create-form-button--transparent {
    background-color: transparent;
}